<div class="theme-switcher">
  <button class="theme-switcher__button" data-controller="theme">
    <i class="icon-sun" data-theme-target="lightIcon"></i>
    <i class="icon-moon" data-theme-target="darkIcon"></i>
  </button>
</div>